.navbar {
    min-height: 3rem;
    background-color: rgba(131, 51, 91);
    font-size: 1.6rem;
    &-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            color: #fefe00;
            &:hover {
                color: #000;
            }
        }
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;           
        }
    }
}